@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    font-family: 'Roboto', sans-serif; 
}

body {

    background-color: rgb(236, 236, 236);
}

header {

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 30px;
    border-bottom: 2px solid rgb(226, 226, 226);
    min-width: 750px;
}

.botoes {

    display: flex;
    align-items: center;
    gap: 30px;
}

.botoes p {

    background-color: #0A99FE;
    color: #fff;
    font-weight: 400;
    font-size: larger;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 150px;
    height: 40px;
    border-radius: 10px;
}

.botoes p:hover {

    background-color: rgba(10, 153, 254, 0.1);
    color: #0A99FE;
}

.conteudo {

    display: block;
    justify-content: center;
    align-items: center;
    min-width: 750px;
}

section {

    display: block;
    flex-direction: column;
    overflow-x: auto;
}
.categoria {

    border: none;
    font-weight: 500;
    font-size: 20px;
    margin-top: 30px;
    margin-left: 30px;
}
ul {    

    margin: 20px 0 30px 30px;
    display: flex;
    flex-direction: row;
    gap: 30px;
}
.card {

    background-color: rgb(231, 231, 231);
    width: 207px;
    height: 275px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-radius: 10px;
}
.card img {

    height: 60%;
    margin-bottom: 20px;
    margin-top: 20px;
    border-radius: 5px;
}
.card p {

    margin-bottom: 10px;
    font-size: 20px;
    font-weight: 500;
}
.card span {
    
    font-size: 16px;
    font-weight: 400;
}